/*============= GLOBAL SELECTOR ============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, sans-serif;
}

/* .container {
  padding: 50px 0 0 0;
} */

/*============= HEADER ============*/
nav {
  background: teal;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 150px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
a.active,
a:hover {
  background: rgb(16, 49, 49);
  transition: 0.5s ease-in-out;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1e5456;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: rgb(16, 49, 49);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*================== HOME PAGE ================= */
.container_1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: non-wrap;
  padding: 100px;
}

.container_1_text h1 {
  font-size: 30px;
  color: teal;
  margin-bottom: 20px;
}

.container_1_text p {
  line-height: 1.8;
  width: 49%;
  margin-bottom: 20px;
  color: rgb(82, 80, 80);
}

.container_1_image {
  margin-right: 30px;
}

.container_1_image img {
  width: 100%;
}

/*================== MEDIA QUERY FOR HOME PAGE ================= */
@media only screen and (max-width: 760px) {
  .container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    width: 100%;
  }
  .container_1_text p {
    width: 100%;
    font-size: 20px;
  }

  .container_1_image img {
    width: 100%;
    margin: 0 auto;

   
  }

}
/* ================= PROJECT PAGE =============== */
section .container_2 {
  background-color: rgb(161, 232, 232);
  padding: 50px 100px;
}

.container_2_text {
  display: flex;
  justify-content: space-between;
  /* text-align: left; */
  flex-wrap: non-wrap;
  margin-bottom: 60px;
}
.container_2_text_paragraph {
  text-align: left;
  width: 30%;
  color: teal;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: bold;
}

.container_2_text .btn1 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  background-color: teal;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 10px 40px;
  height: 60px;
  animation: .6s;

}

a {
  text-decoration: none;
  color: #fff;
}

.container_2_text .btn1:hover {
  background-color: rgb(16, 49, 49);
}

.container_2_image_1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.container_2_image_1 img {
  border-radius: 15px;
}

/*================== MEDIA QUERY FOR PROJECT PAGE ================= */
@media only screen and (max-width: 600px) {
  section .container_2 {
    padding: 50px;
  }
  .container_2_text {
    flex-wrap: wrap;
  }
  .container_2_text_paragraph {
    /* border: 3px solid red; */
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
  }
}
/*================== CONTACT PAGE =================*/
section .container_3 {
  background-color: rgb(53, 105, 105);
  padding: 70px 170px;
}

/* .container_3 img {
  display: flex;
  justify-content: right;
  border: 3px solid red;
} */

.container_3_img {
  display: flex;
  justify-content: right;
  /* margin-bottom: 50px; */
}
.container_3_text {
  color: #fff;
  display: flex;
  gap: 90px;
  justify-content: space-between;
  /* width: 45%; */
  /* line-height: 1.5; */
}

.container_3_text h2 {
  width: 45%;
}
.container_3_buttons {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  /* border: 3px solid red; */
}

.container_3_buttons .btn2 {
  font-size: 30px;
  color: teal;
  line-height: 1.5;
  font-weight: bold;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 5px 50px;
}

.container_3_buttons .btn3 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  background-color: teal;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  padding: 5px 50px;
  animation: .5s ease-in;
}

#white {
  background-color: #fff;
}

#white a {
  color: teal;

}
.container_3_buttons .btn3:hover {
  background-color: rgb(16, 49, 49);
}


 #white:hover {
  background-color: rgb(16, 49, 49);
  color: #fff;
}

.icon-phone {
  margin-right: 10px;
}

/*================== MEDIA QUERY FOR CONTACT PAGE ================= */
@media only screen and (max-width: 760px) {
  section .container_3 {
    padding: 40px;
  }
  .container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container_3_text {
    flex-wrap: wrap;
  }

  .container_3_text h2 {
    line-height: 1.5;
    width: 80%;
    font-weight: bold;
  }
  .container_3_buttons {
    display: flex;
    margin-bottom: 0;
  }

  .container_3_buttons .btn3 {
    font-size: 20px;

    padding: 10px 20px;
  }

  .icon-phone {
    margin-right: 10px;
  }
}


/* @media only screen and (max-width: 600px) { 


} */
/* ========== FOOTER ============ */
footer {
  background-color: teal;
  padding: 80px 0 50px 0;
  color: #fff;
  text-align: center;
}

footer h3 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 100;
}

footer p {
  font-weight: bold;
}

footer .copyright {
  font-size: 12px;
  font-weight: 100;
  margin-top: 100px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 20px;
}
footer .social-media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

footer .circle {
  /* border: 1px solid #fff; */
  border-radius: 10%;
  color: teal;
  background-color:rgb(9, 54, 54);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

footer .circle:hover {
  border: 1px solid rgb(135, 228, 228);
  color: rgb(74, 201, 201);
}


/* @media only screen and (max-width: 600px) {
  footer .social-media{
    display: flex;
    flex-wrap: nowrap;
    border: 4px solid red;
  }


} */
